# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info

# Django
*.sqlite3
staticfiles/
data/

# Environment
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Docker
Dockerfile
docker-compose*.yml
.dockerignore

# Docs
*.md
!README.md
